
// -----------------------------------
// PARAMETERS
// -----------------------------------
params {

    // General Outputs
    output_dir     = "/home/dilara/projects/perimeta/results/nextflow_pipeline/results"
    annotation_dir = "${params.output_dir}/annotations"

    // Mode selection (IMPORTANT!)
    mode           = "phbr"   // or "rsim"
    input_format = "maf"  // or "vcf"
    threads        = 8

    // VCF Annotation
    annovar_path   = "/home/dilara/projects/perimeta/results/nextflow_pipeline/data/annovar"
    annovar_db     = "/home/dilara/projects/perimeta/results/nextflow_pipeline/data/annovar/humandb"

    // Genotypes and References
    genotypes      = null
    reference_file = "/home/dilara/projects/perimeta/results/data/reference_expanded.csv"
    metadata_json  = "/home/dilara/projects/perimeta/results/nextflow_pipeline/phbr_nextflow/references/metadata.repository.2025-05-01.json"
    mapping_file   = "/home/dilara/projects/perimeta/results/nextflow_pipeline/phbr_nextflow/references/refseq_to_ensembl.tsv"
    mane_file      = "/home/dilara/projects/perimeta/results/nextflow_pipeline/phbr_nextflow/references/MANE.GRCh38.v1.4.summary.txt"

    // Peptide Generation
    process_mutations     = "/home/dilara/projects/perimeta/results/nextflow_pipeline/phbr_nextflow/scripts/process_mutations.R"
    prepare_fasta_peptides = "/home/dilara/projects/perimeta/results/nextflow_pipeline/phbr_nextflow/scripts/prepare_fasta_peptides.R"

    // NetMHC Tools
    tool_mhc1 = "/home/dilara/projects/perimeta/results/nextflow_pipeline/data/netMHCpan_tools/netMHCpan-4.0/netMHCpan"
    tool_mhc2 = "/home/dilara/projects/perimeta/results/nextflow_pipeline/data/netMHCpan_tools/netMHCIIpan-3.2/netMHCIIpan"

    // Scripts
    scripts_dir     = "${projectDir}/scripts"
    biomart         = "${params.scripts_dir}/biomart.R"
    p_mapping       = "${params.scripts_dir}/p_mapping.R"
    convert_hla     = "${params.scripts_dir}/convert_hla_phbr.R"
    rscript_zero_genes = "/home/dilara/projects/perimeta/results/nextflow_pipeline/phbr_nextflow/scripts/detect_zero_expression_genes.R"
    rscript_filter_binding = "/home/dilara/projects/perimeta/results/nextflow_pipeline/phbr_nextflow/scripts/filter_binding_by_zero_genes.R"


    // PHBR-specific
    calculate_phbr  = "/home/dilara/projects/perimeta/results/nextflow_pipeline/phbr_nextflow/scripts/calculate_phbr.py"

    // RSIM-specific
    r_script_rexp_sample = "${params.scripts_dir}/calculate_Rexp.R"
    r_script_robs        = "${params.scripts_dir}/calculate_Robs.R"
    rand_core_rdata      = "/home/arne/projects/genomics_england/data/GPPM_rand_core.RData"
    signature_file       =  '/home/jimmy/projects/mhc2/data/TCGA_maf_mhc2.rds'


    // FeatureCounts (for rsim)
    gtf                 = "/home/dilara/projects/perimeta/downloads/genomes/ensembl/Homo_sapiens.GRCh38.110.gtf.gz"
    data_path           = "/home/dilara/projects/perimeta/data"
    vcf_dir = "/home/dilara/projects/perimeta/results/data/downloaded_files"
    maf_dir = "/home/dilara/projects/perimeta/downloads/TCGA/maf/ALL_TCGA_PROJECTS"
    rscript_merge_norm  = "/home/dilara/projects/perimeta/results/nextflow_pipeline/phbr_nextflow/scripts/merge_normalize.R"
    process_mutations_from_maf = "/home/dilara/projects/perimeta/results/nextflow_pipeline/phbr_nextflow/scripts/process_mutations_from_maf.R"
    fasta_file = "/home/dilara/projects/perimeta/downloads/genomes/ensembl/Homo_sapiens.GRCh38.pep.all.fa.gz"
    metadata = "/home/dilara/projects/perimeta/results/data/patient_info.csv"
    bam_to_fastq_script = "/home/dilara/projects/perimeta/results/nextflow_pipeline/phbr_nextflow/scripts/bam_to_fastq.sh"
    parse_hlahd_to_csv_script = "/home/dilara/projects/perimeta/results/nextflow_pipeline/phbr_nextflow/scripts/parse_hlahd_to_csv.sh"



    // Optional old peptides
    peptides            = "/home/dilara/projects/perimeta/results/nextflow_pipeline/PHBR/results/annotations/peptides_*"
    // Flags
    kd_threshold        = 500
    toolfolder       ="/home/dilara/projects/perimeta/results/nextflow_pipeline/hla_genotyping_tools/src"
    hla_dict = "/home/dilara/projects/perimeta/results/nextflow_pipeline/hla_genotyping_tools/src/dictionary"
    hla_gene_list ="/home/dilara/projects/perimeta/results/nextflow_pipeline/hla_genotyping_tools/hlahd.1.7.1/HLA_gene.split.txt"
    hla_parser_script  = "/home/dilara/projects/perimeta/results/nextflow_pipeline/phbr_nextflow/scripts/hla_parser_script.R"
    conda_profile   = "/home/labgroups/ccgg/miniforge3/etc/profile.d/conda.sh"
    hlahd_toolfolder = "/home/dilara/projects/perimeta/results/nextflow_pipeline/hla_genotyping_tools/src"
    hlahd_script = "/home/dilara/projects/perimeta/results/nextflow_pipeline/hla_genotyping_tools/src/bin/hlahd.sh"
    hlahd_env ="/home/dilara/projects/perimeta/results/nextflow_pipeline/HLA-HD/HLA-HD"
    barcode_map_csv = ""
    toolscript_arcasHLA = "/home/dilara/projects/perimeta/results/nextflow_pipeline/hla_genotyping_tools/arcasHLA/src/arcasHLA"
    tool_pmapping = "/home/dilara/projects/perimeta/results/nextflow_pipeline/phbr_nextflow/scripts/tool_pmapping.R"
    p_mapping_dataset ="/home/dilara/projects/perimeta/results/data/reference_expanded.csv"
    data_format_genotype = "fastq"
    fastq_path = null
    biomart_csv = "/home/dilara/projects/perimeta/results/nextflow_pipeline/phbr_nextflow/references/biomart.csv"
    hla_caller = "arcasHLA"





}   



// -----------------------------------
// PROFILES
// -----------------------------------
profiles {

    slurm {
        process.executor = 'slurm'
        process.queue    = 'LabQueue'
        process.memory   = '10 GB'
        process.cpus     = 3
    }

    conda {
        conda.enabled    = true
        conda.path       = "/home/dilara/projects/perimeta/perimeta"
    }
}
