params {
    data_path = "/home/dilara/projects/perimeta/data/rna_seq_aligned/*/*.bam"
    res_folder = "/home/dilara/projects/perimeta/results/nextflow_pipeline/MGBS/results"
    threads = 15

    // ✅ ArcasHLA Paths
    conda_profile = "/home/labgroups/ccgg/miniforge3/etc/profile.d/conda.sh"
    conda_env = "/home/dilara/projects/perimeta/perimeta"  
    toolscript = "/home/dilara/projects/perimeta/results/nextflow_pipeline/hla_genotyping_tools/arcasHLA/src/arcasHLA"
    tool_pmapping = "/home/dilara/projects/perimeta/results/nextflow_pipeline/hla_genotyping_tools/arcasHLA/tool_pmapping.R"
    p_mapping_dataset ="/home/dilara/projects/perimeta/results/data/reference_expanded.csv"
    calculate_mgbs_script = "/home/dilara/projects/perimeta/results/nextflow_pipeline/hla_genotyping_tools/arcasHLA/calculate_MGBS.R"
    prepare_mgbs_genotypes = "/home/dilara/projects/perimeta/results/nextflow_pipeline/MGBS/scripts/prepare_mgbs_genotypes.R"
    convert_hla = "/home/dilara/projects/perimeta/results/nextflow_pipeline/MGBS/scripts/convert_hla.R"
    parse_netmhc_to_rds = "/home/dilara/projects/perimeta/results/nextflow_pipeline/MGBS/scripts/parse_netmhc_to_rds.R"
    calculate_mgbs_script  = "/home/dilara/projects/perimeta/results/nextflow_pipeline/MGBS/scripts/calculate_MGBS.R"
    check_missing_script = "/home/dilara/projects/perimeta/results/nextflow_pipeline/MGBS/scripts/check_missing_chunks.R"
    use_precomputed_affinities = true  // default is to use precalculated
    genotype_csv = ""
    mhc1_affinity = "/home/arne/projects/genomics_england/data/mhc1_rand_matrix.rds"
    mhc2_affinity = "/home/arne/projects/genomics_england/data/mhc2_rand_matrix.rds"
    hla_caller = "arcasHLA" // or "HLAHD"
    data_format_genotype = "fastq"
    bam_to_fastq_script = "/home/dilara/projects/perimeta/results/nextflow_pipeline/MGBS/scripts/bam_to_fastq.sh"
    toolfolder       ="/home/dilara/projects/perimeta/results/nextflow_pipeline/hla_genotyping_tools/src"
    hla_dict = "/home/dilara/projects/perimeta/results/nextflow_pipeline/hla_genotyping_tools/src/dictionary"
    hla_gene_list ="/home/dilara/projects/perimeta/results/nextflow_pipeline/hla_genotyping_tools/hlahd.1.7.1/HLA_gene.split.txt"
    hla_parser_script  = "/home/dilara/projects/perimeta/results/nextflow_pipeline/phbr_nextflow/scripts/hla_parser_script.R"
    hlahd_toolfolder = "/home/dilara/projects/perimeta/results/nextflow_pipeline/hla_genotyping_tools/src"
    hlahd_script = "/home/dilara/projects/perimeta/results/nextflow_pipeline/hla_genotyping_tools/src/bin/hlahd.sh"
    netmhcpan = "/home/dilara/projects/perimeta/results/nextflow_pipeline/MGBS/scripts/run_netmhcpan.sh"
    netmhciipan = "/home/dilara/projects/perimeta/results/nextflow_pipeline/MGBS/scripts/run_netmhciipan.sh"
    hlahd_env ="/home/dilara/projects/perimeta/results/nextflow_pipeline/HLA-HD/HLA-HD"
    parse_hlahd_to_csv_script = "/home/dilara/projects/perimeta/results/nextflow_pipeline/MGBS/scripts/parse_hlahd_to_csv.sh"


    // ✅ NetMHC Tools
    // tool_mhc1 = '/home/labgroups/ccgg/tools/netMHCpan-4.0/netMHCpan'
    // tool_mhc2 = '/home/labgroups/ccgg/tools/netMHCIIpan-3.2/netMHCIIpan'
    tool_mhc1 = "/home/dilara/projects/perimeta/results/nextflow_pipeline/data/netMHCpan_tools/netMHCpan-4.0/netMHCpan"
    tool_mhc2 = "/home/dilara/projects/perimeta/results/nextflow_pipeline/data/netMHCpan_tools/netMHCIIpan-3.2/netMHCIIpan"

    /// Kd Threshold
    kd_threshold = 500
}



profiles {
    slurm {
        process.executor = 'slurm'
        process.queue = 'LabQueue'        
    }

    conda {
        conda.enabled = true
        conda.path = "/home/dilara/projects/perimeta/perimeta"  // 🔹 Fixed this!
    }
}

process {
    conda = "/home/dilara/projects/perimeta/perimeta"
    cpus = 8
    memory = '25 GB'      // Adjust CPU allocation if needed
}

