// Define project root based on where the pipeline is located
params {
    project_root = baseDir

    // Data Input
    data_path = "${params.project_root}/data/rna_seq_aligned/*/*.bam"

    // Results and temp
    res_folder = "${params.project_root}/results"
    temp_folder = "${params.project_root}/temp"
    
    // Scripts
    convert_hla = "${params.project_root}/scripts/convert_hla.R"
    prepare_mgbs_genotypes = "${params.project_root}/scripts/prepare_mgbs_genotypes.R"
    parse_netmhc_to_rds = "${params.project_root}/scripts/parse_netmhc_to_rds.R"
    calculate_mgbs_script = "${params.project_root}/scripts/calculate_MGBS.R"
    parse_hlahd_to_csv_script = "${params.project_root}/scripts/parse_hlahd_to_csv.sh"
    check_missing_script = "${params.project_root}/scripts/check_missing_chunks.R"
    bam_to_fastq_script = "${params.project_root}/scripts/bam_to_fastq.sh"
    calculate_mgbs_ii_script = "${params.project_root}/scripts/calculate_MGBSII.R"
    calculate_mgbs_i_script = "${params.project_root}/scripts/calculate_MGBSI.R"


    // Tool binaries
    toolscript = "${params.project_root}/hla_genotyping_tools/arcasHLA/src/arcasHLA"
    tool_pmapping = "${params.project_root}/hla_genotyping_tools/arcasHLA/tool_pmapping.R"
    p_mapping_dataset = "${params.project_root}/data/reference_expanded.csv"
    tool_mhc1 = "/home/dilara/projects/perimeta/temp/nextflow_pipeline/data/netMHCpan_tools/netMHCpan-4.0/netMHCpan"
    tool_mhc2 = "/home/dilara/projects/perimeta/temp/nextflow_pipeline/data/netMHCpan_tools/netMHCIIpan-3.2/netMHCIIpan"

    // HLA-HD
    hlahd_toolfolder = "${params.project_root}/hla_genotyping_tools/src"
    hlahd_script = "${params.hlahd_toolfolder}/bin/hlahd.sh"
    hla_gene_list = "${params.project_root}/hla_genotyping_tools/hlahd.1.7.1/HLA_gene.split.txt"
    hla_dict = "${params.hlahd_toolfolder}/dictionary"
    hlahd_env = "${params.project_root}/HLA-HD/HLA-HD"

    // Conda
    conda_profile = "/home/labgroups/ccgg/miniforge3/etc/profile.d/conda.sh"


    // Other
    use_precomputed_affinities = true
    kd_threshold = 500
    genotypes = ""
    hla_caller = "arcasHLA"
    data_format_genotype = "fastq"
    mhc1_affinity = "/home/arne/projects/genomics_england/data/mhc1_rand_matrix.rds"
    mhc2_affinity = "/home/arne/projects/genomics_england/data/mhc2_rand_matrix.rds"
}



profiles {
    slurm {
        process.executor = 'slurm'
        process.queue = 'LabQueue'
        process.clusterOptions = '--nodelist=rosalind'

    }
}

process {
    conda = "/home/dilara/projects/perimeta/perimeta"
    cpus = 8
    memory = '10 GB'  }

